@tailwind base;
@tailwind components;
@tailwind utilities;


/* Headlines 
font-family: 'Shadows Into Light',
cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Text 
font-family: 'Nunito Sans',
sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


/* Btn + Nav
font-family: 'Archivo Narrow',
sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

@layer base {
    body {
        @apply font-nunito;
        @apply bg-deep-purple;
    }

    li {
        @apply px-4;
        @apply font-archivo;
        @apply cursor-pointer;
    }
    li:hover {
        @apply text-[--amethyst]; 
        @apply duration-300;
    }
    h1 {
        @apply font-shadow;
    }
}

:root{
--pumpkin: #ff6d00;
--safety-orange: #ff7900;
--ut-orange: #ff8500;
--princeton-orange: #ff9100;
--orange-peel: #ff9e00;
--russian-violet: #0f001d;
--persian-indigo: #3c096c;
--tekhelet: #5a189a;
--french-violet: #7b2cbf;
--amethyst: #9d4edd;
}

/* Cartes de projets */
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
}
 .content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(255, 207, 112, 0.8),
        hsla(266, 71%, 53%, 0.8)
    )!important;
 }

/* Effet de parralax */

.parallax {
    background-image: url("./assets/parralaxImg.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* Effets scroll ghostFx */

 .ghostFx > div{
     opacity: 0;
     transform: translateX(100%);
     transition: opacity 1.3s ease-out, transform 1.3s ease-out;
 }

 /* Type animation */

.type-container {
    font-family: Arial, sans-serif;
    display: inline-block;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}